

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Typography */
* {
	font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}
body {
    padding-top: 70px;
	margin-bottom: 60px;
}

/* Image */
.th-circle {
	border-radius: 50%;
}

/* NavBar */
.navbar-brand {
	display: block;
	float: none;
	text-align: center;
	max-width: 100%;
}
html, body {
	height: 100%;
	position: relative;
	min-height: 100%;
}
.navbar-toggle.navbar-menu-01 {
	float: left;
	margin-left: -1px;
	margin-top: -1px;
	border-radius: 0px;
	font-size: 29px;
	padding-top: 5px;
	padding-left: 10px;
	padding-bottom: 6px;
	padding-right: 10px;
	margin-bottom: 3px;
	border-right: 1px solid;
	border-bottom: none;
}
.navbar-toggle.navbar-user-toggle {
	float: right;
	margin-right: -1px;
	margin-top: -1px;
	border-radius: 0px;
	font-size: 29px;
	padding-top: 5px;
	padding-left: 10px;
	padding-bottom: 5px;
	padding-right: 10px;
	margin-bottom: 3px;
	border-left: 1px solid;
	border-bottom: none;
}
.navbar-brand img{
	padding: 0px 15px;
	margin-right: 10px;
}
.navbar-header {
	margin-bottom: 33px;
}	
#navbar-menu-01 {
	padding-top: 15px;
}
/*.nav.navbar-nav  a{
	padding-bottom: 15px;
}*/
.navbar-aternos {
	background-color: #ffffff;
	-webkit-box-shadow: inset 0px -5px 0px 0px rgba(238,238,238,1);
	-moz-box-shadow: inset 0px -5px 0px 0px rgba(238,238,238,1);
	box-shadow: inset 0px -5px 0px 0px rgba(238,238,238,1);
	border-color: #eeeeee;
}
.navbar-aternos .navbar-brand {
  color: #585858;
}
.navbar-aternos .navbar-brand:hover,
.navbar-aternos .navbar-brand:focus {
  color: #3f3f3f;
  background-color: transparent;
}
.navbar-aternos .navbar-text {
  color: #585858;
}
.navbar-aternos .navbar-nav > li:last-child > a {
  border-right: none;
}
.navbar-aternos .navbar-nav > li > a {
  color: #585858;
  border-left: none;
}
.navbar-aternos .navbar-nav > li > a:hover,
.navbar-aternos .navbar-nav > li > a:focus {
  color: #278fe0;
  background-color: transparent;
  padding-bottom: 15px;
}
.navbar-aternos .navbar-nav > .active > a,
.navbar-aternos .navbar-nav > .active > a:hover,
.navbar-aternos .navbar-nav > .active > a:focus {
  color: #278fe0;
  background-color: #eeeeee;
}
.navbar-aternos .navbar-nav > .disabled > a,
.navbar-aternos .navbar-nav > .disabled > a:hover,
.navbar-aternos .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-aternos .navbar-toggle {
  border-color: #dddddd;
}
.navbar-aternos .navbar-toggle:hover,
.navbar-aternos .navbar-toggle:focus {
  background-color: #eeeeee;
}
.navbar-aternos .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-aternos .navbar-collapse,
.navbar-aternos .navbar-form {
  border-color: #ededed;
}
.navbar-aternos .navbar-nav > .dropdown > a:hover .caret,
.navbar-aternos .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #278fe0;
  border-bottom-color: #278fe0;
}
.navbar-aternos .navbar-nav > .open > a,
.navbar-aternos .navbar-nav > .open > a:hover,
.navbar-aternos .navbar-nav > .open > a:focus {
  background-color: #eeeeee;
  color: #278fe0;
}
.navbar-aternos .navbar-nav > .open > a .caret,
.navbar-aternos .navbar-nav > .open > a:hover .caret,
.navbar-aternos .navbar-nav > .open > a:focus .caret {
  border-top-color: #278fe0;
  border-bottom-color: #278fe0;
}
.navbar-aternos .navbar-nav > .dropdown > a .caret {
  border-top-color: #585858;
  border-bottom-color: #585858;
}
@media (max-width: 767) {
  .navbar-aternos .navbar-nav .open .dropdown-menu > li > a {
    color: #585858;
  }
  .navbar-aternos .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-aternos .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #278fe0;
    background-color: transparent;
  }
  .navbar-aternos .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-aternos .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-aternos .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #278fe0;
    background-color: #eeeeee;
  }
  .navbar-aternos .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-aternos .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-aternos .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-aternos .navbar-link {
  color: #585858;
}
.navbar-aternos .navbar-link:hover {
  color: #278fe0;
}
@media(min-width:768px) {
	.navbar-fixed-top .navbar-brand {
		padding: 15px 0;
	}
}
@media(max-width: 768px) {
	.navbar-brand {
	  margin-left: auto;
	  margin-right: auto;
	  width: 100px;
	  float: none;
	  max-height: 40px;
	  height: 30px;
      max-width: 30%; 
      overflow: visible;
      padding-top: 0;
      padding-bottom: 0; 
	}
	#responsive-header-fix {
		margin-bottom: 0px;
	}	
}
@media (min-width: 992px) {
	.navbar {
		padding-right: 15px;
	}
}

/* Jumbotron */
.aternos-landing {
	color: #fff;
	background: url(../img/landing.jpg) no-repeat;
}

/* Statistics Counter */
.statistics_counter {
	background: #278fe0;
	color: #fff;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: -30px;
	text-align: center;
	font-size: 25px;
	box-sizing: content-box;
	margin-bottom: 20px;
}
.statistics_counter span {
	padding-left: 20px;
	padding-right: 20px;
}
.statistics_counter span:first-child {
	border-right: #fff 1px solid;
}
.statistics_counter span:last-child {
	border-left: #fff 1px solid;
}

/* Blog Section */
#blog-posts {
	margin-bottom: 20px;
}

/* Footer */
.aternos-footer {
	background: #eeeeee;
	width: 100%;
	height: 35%;
	padding-top: 20px;
	margin-top: 60px;
}










